.main-navbar{
    width: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #264ECA;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.nav-option{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;  
    transition: all 0.3s;  
}

.nav-option:hover::before {
    content: "";  
    position: absolute;  
    top: 0;
    left: 0;
    width: 5px;  
    height: 100%; 
    background-color: white;
}

.nav-text{ 
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

.icon{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-nav-option::before {
    background: #4068D6; 
}

.active-nav-option::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #264ECA; 
}

.active-nav-option:hover{
    background-color: #4068D6;
}

